.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.recharts-wrapper {
  margin : 0 auto;
}

.rc-slider {
  margin : 0 auto;
}

.rainInWales{
  text-align: center;
  margin : 0 auto;
  padding: 40px;
}
